<%= provide(:title, 'Sign up') %>
<h1>注册</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

      <%= f.label :name,"姓名" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "密码" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "确认密码" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "建立扯淡账户", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
